#container {
    position: relative; /* Es necesario para que el canvas se posicione relativo al contenedor */
    display: inline-block;
}

#webcam, #canvasOverlay {
    position: absolute; /* Ambos se superponen */
    top: 0;
    left: 0;
}

#webcam {
    /* El video debe estar en la parte de abajo */
    z-index: 1; 
}

#canvasOverlay {
    /* El canvas debe estar encima */
    z-index: 2; 
}